.idea/*
!.idea/codeStyles/
*.iml
.project
.DS_Store
node_modules
package-lock.json
/clientlibrary/jsaddon/build
.vscode
/vendor/
*gomock_reflect*
lib-server/service.pb.go
dist/cli
grpc-web
.gradle
tests/.cache/
.env
staging.yml
build
/core/anytype/config/nodes/custom.yml
/.direnv/
/.envrc
*.swp
doc/dependency_decisions.yml
