on:
  push:
    tags:
      - 'v*.*.*'
name: Build
jobs:
  build:
    runs-on: macos-11
    steps:
      - name: fix android ndk bundle
        run: |
          majorVersion=23
          ANDROID_NDK_ROOT=${ANDROID_SDK_ROOT}/ndk-bundle
          SDKMANAGER=${ANDROID_SDK_ROOT}/cmdline-tools/latest/bin/sdkmanager
          ndkVersion=$(${SDKMANAGER} --list | grep "ndk;${majorVersion}.*" | awk '{gsub("ndk;", ""); print $1}' | sort -V | tail -n1)
          echo $ndkVersion
          ln -sf $ANDROID_SDK_ROOT/ndk/$ndkVersion $ANDROID_NDK_ROOT
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.18.10
      - name: Setup GO
        run: |
          echo GOPATH=$(go env GOPATH) >> $GITHUB_ENV
          echo GOBIN=$(go env GOPATH)/bin >> $GITHUB_ENV
          echo $(go env GOPATH)/bin >> $GITHUB_PATH
      - name: Install patched gox
        run: |
          mkdir -p $GOPATH/src/github.com/mitchellh
          cd $GOPATH/src/github.com/mitchellh
          git clone https://github.com/aslakhellesoy/gox
          cd gox
          git fetch
          git checkout db6184738b77fbd5089e5fa1112177f391c91b24
          go install github.com/mitchellh/gox
      - name: Install brew and node deps
        run: |
          curl https://raw.githubusercontent.com/Homebrew/homebrew-core/31b24d65a7210ea0a5689d5ad00dd8d1bf5211db/Formula/protobuf.rb --output protobuf.rb
          HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK=1 HOMEBREW_NO_AUTO_UPDATE=1 HOMEBREW_NO_INSTALL_CLEANUP=1 brew install ./protobuf.rb
          HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK=1 HOMEBREW_NO_AUTO_UPDATE=1 HOMEBREW_NO_INSTALL_CLEANUP=1 brew install --ignore-dependencies swift-protobuf
          HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK=1 HOMEBREW_NO_AUTO_UPDATE=1 HOMEBREW_NO_INSTALL_CLEANUP=1  brew install mingw-w64
          brew tap filosottile/musl-cross
          HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK=1 HOMEBREW_NO_AUTO_UPDATE=1 HOMEBREW_NO_INSTALL_CLEANUP=1 brew install filosottile/musl-cross/musl-cross
          npm i -g node-gyp
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set env vars
        run: |
          export COMMIT=${GITHUB_SHA::7} >> $GITHUB_ENV
          export GIT_SUMMARY=$(git describe --tags --dirty --always) >> $GITHUB_ENV
          export DATE=$(date -u +"%Y-%m-%dT%H:%M:%SZ") >> $GITHUB_ENV
          export GIT_BRANCH=$(git branch --show-current)
          echo "FLAGS=-X github.com/anytypeio/go-anytype-middleware/app.GitSummary=${GIT_SUMMARY} -X github.com/anytypeio/go-anytype-middleware/app.BuildDate=${DATE} -X github.com/anytypeio/go-anytype-middleware/app.GitCommit=${COMMIT} -X github.com/anytypeio/go-anytype-middleware/app.GitBranch=${GIT_BRANCH} -X github.com/anytypeio/go-anytype-middleware/app.GitState=clean" >> $GITHUB_ENV
          echo VERSION=${GITHUB_REF##*/} >> $GITHUB_ENV
          echo SDKROOT=$(xcrun --sdk macosx --show-sdk-path) >> $GITHUB_ENV
      - name: install protoc
        run: |
          make setup-protoc
      - name: setup go
        run: |
          make setup-go
      - uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ matrix.go-version }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ matrix.go-version }}-
      - name: Go mod download
        run: |
          go mod download
          go get golang.org/x/mobile/cmd/...@76c259c465ba39f84de7e2751a666612ddca556b
      - name: Cross-compile library mac/win
        run: |
          echo $FLAGS
          mkdir -p .release
          gox -cgo -ldflags="$FLAGS" -osarch="darwin/amd64 darwin/arm64" --tags="nographviz nowatchdog nosigar nomutexdeadlockdetector" -output="{{.OS}}-{{.Arch}}" github.com/anytypeio/go-anytype-middleware/cmd/grpcserver
          make protos-server
          CC="x86_64-w64-mingw32-gcc" CXX="x86_64-w64-mingw32-g++" gox -cgo -ldflags="$FLAGS" -osarch="windows/amd64" --tags="nographviz nowatchdog nosigar nomutexdeadlockdetector" -output="{{.OS}}-{{.Arch}}" github.com/anytypeio/go-anytype-middleware/cmd/grpcserver
          ls -lha .
      - name: Make JS protos
        run: |
          make protos-js
          mv dist/js/pb protobuf
          mkdir -p protobuf/protos
          cp pb/protos/*.proto ./protobuf/protos
          cp pb/protos/service/*.proto ./protobuf/protos
          cp pkg/lib/pb/model/protos/*.proto ./protobuf/protos
      - name: Upload protobuf artifact for linux build
        uses: actions/upload-artifact@v2
        with:
          name: libs
          path: |
            protobuf
          if-no-files-found: error
          retention-days: 1
      - name: Pack server win
        run: |
          declare -a arr=("windows-amd64")
          for i in "${arr[@]}"
          do
          OSARCH=${i%.*}
          cp ./${i}* ./grpc-server.exe
          zip -r js_${VERSION}_${OSARCH}.zip grpc-server.exe protobuf
          mv js_${VERSION}_${OSARCH}.zip .release/
          done
      - name: Pack server unix
        run: |
          declare -a arr=("darwin-amd64" "darwin-arm64")
          for i in "${arr[@]}"
          do
          OSARCH=${i%.*}
          cp ./${i}* ./grpc-server
          tar -czf js_${VERSION}_${OSARCH}.tar.gz grpc-server protobuf
          mv js_${VERSION}_${OSARCH}.tar.gz .release/
          done
      - name: Make swift protos
        run: |
          mkdir -p .release
          make protos-swift
          rm -rf protobuf
          mv dist/ios/protobuf protobuf
          mkdir -p protobuf/protos
          cp pb/protos/*.proto ./protobuf/protos
          cp pb/protos/service/*.proto ./protobuf/protos
          cp pkg/lib/pb/model/protos/*.proto ./protobuf/protos
      - name: Compile ios lib
        run: |
          gomobile bind -tags "nogrpcserver gomobile nowatchdog nosigar nomutexdeadlockdetector" -ldflags "$FLAGS" -v -target=ios -o Lib.xcframework github.com/anytypeio/go-anytype-middleware/clientlibrary/service github.com/anytypeio/go-anytype-middleware/core || true
          sudo /usr/sbin/purge
          gtar --exclude ".*" -czvf ios_framework_${VERSION}.tar.gz Lib.xcframework protobuf
          mv ios_framework_${VERSION}.tar.gz .release/
      - name: Make java protos
        run: |
          make protos-java
          rm -rf protobuf
          mv dist/android/pb protobuf
          mkdir -p protobuf/protos
          cp pb/protos/*.proto ./protobuf/protos
          cp pb/protos/service/*.proto ./protobuf/protos
          cp pkg/lib/pb/model/protos/*.proto ./protobuf/protos
      - name: Compile android lib
        run: |
          gomobile bind -tags "nogrpcserver gomobile nowatchdog nosigar nomutexdeadlockdetector" -ldflags "$FLAGS" -v -target=android -androidapi 19 -o lib.aar github.com/anytypeio/go-anytype-middleware/clientlibrary/service github.com/anytypeio/go-anytype-middleware/core || true
          sudo /usr/sbin/purge
          gtar --exclude ".*" -czvf android_lib_${VERSION}.tar.gz lib.aar protobuf
          mv android_lib_${VERSION}.tar.gz .release/
      - name: Publish android lib to maven
        run: |
          gradle publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_USER: ${{ github.actor }}
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          prerelease: ${{ contains(github.ref, '-rc') }}
          fail_on_unmatched_files: true
          files: '.release/*'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  build_linux:
    runs-on: ubuntu-22.04
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.18.10
      - name: Setup GO
        run: |
          echo GOPATH=$(go env GOPATH) >> $GITHUB_ENV
          echo GOBIN=$(go env GOPATH)/bin >> $GITHUB_ENV
          echo $(go env GOPATH)/bin >> $GITHUB_PATH
      - name: Install patched gox
        run: |
          mkdir -p $GOPATH/src/github.com/mitchellh
          cd $GOPATH/src/github.com/mitchellh
          git clone https://github.com/aslakhellesoy/gox
          cd gox
          git fetch
          git checkout db6184738b77fbd5089e5fa1112177f391c91b24
          go install github.com/mitchellh/gox
      - name: Apt install and node deps
        run: |
          sudo apt update
          sudo apt install -y protobuf-compiler libprotoc-dev
          curl -O https://musl.cc/aarch64-linux-musl-cross.tgz
          curl -O https://musl.cc/x86_64-linux-musl-native.tgz
          tar xzf aarch64-linux-musl-cross.tgz -C $HOME
          tar xzf x86_64-linux-musl-native.tgz -C $HOME
          npm i -g node-gyp
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set env vars
        run: |
          export COMMIT=${GITHUB_SHA::7} >> $GITHUB_ENV
          export GIT_SUMMARY=$(git describe --tags --dirty --always) >> $GITHUB_ENV
          export DATE=$(date -u +"%Y-%m-%dT%H:%M:%SZ") >> $GITHUB_ENV
          export GIT_BRANCH=$(git branch --show-current)
          echo "FLAGS=-X github.com/anytypeio/go-anytype-middleware/app.GitSummary=${GIT_SUMMARY} -X github.com/anytypeio/go-anytype-middleware/app.BuildDate=${DATE} -X github.com/anytypeio/go-anytype-middleware/app.GitCommit=${COMMIT} -X github.com/anytypeio/go-anytype-middleware/app.GitBranch=${GIT_BRANCH} -X github.com/anytypeio/go-anytype-middleware/app.GitState=clean" >> $GITHUB_ENV
          echo VERSION=${GITHUB_REF##*/} >> $GITHUB_ENV
      - name: install protoc
        run: |
          HAS_SYSTEM_PROTOBUF=false make setup-protoc
      - name: setup go
        run: |
          make setup-go
      - uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ matrix.go-version }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ matrix.go-version }}-
      - name: Go mod download
        run: |
          go mod download
      - name: Cross-compile library for linux amd64/arm64
        run: |
          echo $FLAGS
          mkdir -p .release
          CXX=$HOME/x86_64-linux-musl-native/bin/x86_64-linux-musl-g++ CC=$HOME/x86_64-linux-musl-native/bin/x86_64-linux-musl-gcc gox -cgo -osarch="linux/amd64" -ldflags="$FLAGS -linkmode external -extldflags=-static" --tags="nographviz nowatchdog nosigar nomutexdeadlockdetector" -output="{{.OS}}-{{.Arch}}" github.com/anytypeio/go-anytype-middleware/cmd/grpcserver
          CXX=$HOME/aarch64-linux-musl-cross/bin/aarch64-linux-musl-g++ CC=$HOME/aarch64-linux-musl-cross/bin/aarch64-linux-musl-gcc gox -cgo -osarch="linux/arm64" -ldflags="$FLAGS -linkmode external -extldflags=-static" --tags="nographviz nowatchdog nosigar nomutexdeadlockdetector" -output="{{.OS}}-{{.Arch}}" github.com/anytypeio/go-anytype-middleware/cmd/grpcserver
          make protos-server
      - name: Make JS protos
        run: |
          make protos-js
          mv dist/js/pb protobuf
          mkdir -p protobuf/protos
          cp pb/protos/*.proto ./protobuf/protos
          cp pb/protos/service/*.proto ./protobuf/protos
          cp pkg/lib/pb/model/protos/*.proto ./protobuf/protos
      - name: Upload protobuf artifact for linux build
        uses: actions/upload-artifact@v2
        with:
          name: libs
          path: |
            protobuf
          if-no-files-found: error
          retention-days: 1
      - name: Pack server unix
        run: |
          declare -a arr=("linux-amd64" "linux-arm64")
          for i in "${arr[@]}"
          do
          OSARCH=${i%.*}
          cp ./${i}* ./grpc-server
          tar -czf js_${VERSION}_${OSARCH}.tar.gz grpc-server protobuf
          mv js_${VERSION}_${OSARCH}.tar.gz .release/
          done
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          prerelease: ${{ contains(github.ref, '-rc') }}
          fail_on_unmatched_files: true
          files: '.release/*'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}